<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>

<body>



<!-- Formulář pro výběr a nahrání obrázku -->
<div>
    <label for="fileType">Vyberte typ souboru:</label>
    <select id="fileType">
        <option value="layout">Layout karty</option>
        <option value="image">Obrázek</option>
        <option value="icon">Ikona</option>
    </select>

    <input type="file" id="fileInput" accept="image/*" />
    <button id="uploadBtn">Nahrát</button>
</div>



<!-- Scripty-->
<script th:src="@{/scripts/scripts.js}"></script>

</body>


</html>